.headerContainer {
    background-color: white;
    box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.10);
}

.headerWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0px auto;
}

.headerLogo svg {
    display: none;
}

.headerNav {
    display: flex;
    gap: 50px;
}

.headerNav>a {
    font-size: 16px;
    color: #4A5568;
    font-weight: 500;
    line-height: 25px;
}

.headerNav button {
    display: none;
}

.headerContainer button {
    background-color: #24963d;
    border: none;
    padding: 14px 25px;
    border-radius: 8px;
    color: white;
    font-size: 14px;
    line-height: 14px;
    font-weight: 600;
}

.headerContainer button a {
    width: 100%;
    display: block;
}

@media screen and (max-width:500px) {
    .headerWrapper {
        flex-direction: column;
    }

    .headerLogo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .headerLogo svg {
        display: block;
    }

    .headerNav {
        flex-direction: column;
        width: 100%;
        gap: 35px;
        display: none;
    }

    .mobileNav {
        display: flex;
    }


    .headerNav button {
        display: block;
    }

    .headerWrapper>button {
        display: none;
    }
}