.contactBody {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 0px;
    width: 89%;
    max-width: 1280px;
    margin: 0px auto;
}

.contactForm {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 40px;
    width: 640px;
}

.contactHeader {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 70%;
}

.contactHeader h2 {
    color: #111111;
    font-weight: 600;
    letter-spacing: 0.37px;
    line-height: 41px;
    font-size: 34px;
}

.contactHeader p {
    color: #262626;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: -0.3199999928474426px;
    text-align: left;
}

.formBody {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.formBody input,
.formBody textarea {
    border-radius: 20px;
    border: 1px solid #1c1b1b;
    padding: 14px 16px;
    color: #1d1b20;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: -0.3199999928474426px;
    text-align: left;
}

.formBody textarea {
    height: 120px;
}

.formBody button {
    border-radius: 100px;
    border: none;
    background-color: #24963d;
    font-family: unset;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.10000000149011612px;
    color: white;
    cursor: pointer;
    padding: 14px 0px;
}

.contactBody img {
    border-radius: 8px;
}

@media screen and (max-width:500px) {
    .contactBody {
        width: 95%;
        max-width: 100%;
        flex-direction: column;
    }

    .contactForm,
    .contactBody img {
        width: 100%;
    }

    .contactBody img {
        object-fit: contain;
        object-position: center center;
    }

    .contactForm {
        padding: 20px;
    }

    .contactHeader {
        width: 95%;
    }
}